<div>
	<section id="intro">
		<h1 id="programme_intro">BE MY SANTA</h1>
		<p id="introText">Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			Blah Blah Blah Blah Blah Blah Blah</p>
	</section>
</div>

<div class="container">
	<div class="sixteen columns">
		<div class="row">
			<h1 style="margin-left:20%;">Wish Status</h1>
		</div>
	</div>
	<div id="skillset" class="sixteen columns ">
		<div class="eight columns">
			<div class="bars MT30">
				<div id="bar-1"></div>
				<div id="bar-2"></div>
				<div id="bar-3"></div>
<!-- 				<div id="bar-4"></div> -->
<!-- 				<div id="bar-5"></div> -->
<!-- 				<div id="bar-6"></div> -->
			</div>
		</div>
		<div class="two columns"></div>
		<div class="clearfix"></div>
	</div>
</div>
